body {
    margin: 0;
    padding: 0;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

p{
    text-decoration: none;
    color: black;
}

.background{
    margin-top: -5%;
    width: 180%;
    margin-top: 40%;
    margin-left: -30%;
    position: fixed;
    z-index: -10;
    filter: blur(4px);
    opacity: 50%;
}

.main{
    margin: 3%;
}

.header{
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    margin: 10% 0 8%;
}


.ilist{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.items{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 4% 0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: left;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
}

.name{
    text-align: left;
    font-family: 'name';
    font-size: 1.5em;
    font-weight:bolder;
    color: black;
    margin: 4% 0;
}

.des1{
    text-align: left;
    font-family: 'name';
    font-size: 1em;
    color: black;
    margin: 0;
    line-height: 180%;
}

.des{
    text-align: center;
    font-family: 'name';
    font-size: 1.5em;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
}

.round{
    border-radius: 50%;
}

#avt{
    width: 80%;
}

#avt2{
    font-size: 14px;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-image: url("img//z4063487399955_bc96f53e72aec080b30cef6c9220deb0.jpg");
    background-size: 140%;
    background-position-y: -25px;
    background-repeat: no-repeat;
}

#deco2{
    font-size: 14px;
    width: 10em;
    height: 10em;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@font-face {
    font-family: name;
    src: url("Fonts//arial.ttf");
} 


@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}